<p>
  <h1>
    Title: <%= @article.title %>
  </h1>
</p>
<p>
  <h1>
    Text: <%= @article.text %>
  </h1>
</p>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <h3>Commenter:</h3>
    <%= comment.commenter %>
  </p>

  <p>
    <h3>Comment:</h3>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>